<div class="page-introduce">
  <div class="content">
    @@if (context.pagetype == 'notice') {
    <div class="desc-wrap">
      <p>공지사항</p>
      더 밝은 내일을 만들어 가는<br>
      KMI 새로운 소식
    </div>
    <div class="img-wrap">
      <img src="../../images/common/img/bg-notice.png" class="zoom-img">
    </div>
    } 

    @@if (context.pagetype == 'media') {
    <div class="desc-wrap">
      <p>언론보도</p>
      KMI의 언론 보도자료를<br>
      만날 수 있습니다.
    </div>
    <div class="img-wrap">
      <img src="../../images/common/img/bg-media.png" class="zoom-img">
    </div>
    } 

    @@if (context.pagetype == 'video') {
    <div class="desc-wrap">
      <p>영상자료실</p>
      영상으로 만나는<br>
      KMI 한국의학연구소의 스토리
    </div>
    <div class="img-wrap">
      <img src="../../images/common/img/bg-media.png" class="zoom-img">
    </div>
    } 
  </div>

  <!-- Sub Navigation -->
  <div class="sub-nav">
    <ul class="nav-list">
      <li class="nav-item home">
        <a href="#" class="nav-link"><i class="ico home"></i></a>
      </li>
      <li class="nav-item">
        <span class="nav-current">
          <a href="#" class="nav-link">KMI소식</a>
          <i class="ico arrow-down"></i>
        </span>
        <div class="sub-nav-container d-none">
          <ul>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">언론보도</a></li>
            <li><a href="#">건강정보</a></li>
            <li><a href="#">영상자료실</a></li>
            <li><a href="#">홍보자료실</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <span class="nav-current">
          <a href="#" class="nav-link">공지사항</a>
          <i class="ico arrow-down"></i>
        </span>
        <div class="sub-nav-container d-none">
          <ul>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">언론보도</a></li>
            <li><a href="#">건강정보</a></li>
            <li><a href="#">영상자료실</a></li>
            <li><a href="#">홍보자료실</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>