@charset "utf-8";

@import '_mixins','_function';
// Color Variables
// Button Sizes
.btn-area{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
// Base button styles
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  font-weight: var(--fw-b);
  text-align: center;
  border-radius: 30px;
  border: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;


  $button-sizes: (
  "lg": (160px, 60px),
  "md": (140px, 52px),
  "sm": (120px, 48px)
);
  // Sizes
  @each $size, $dimensions in $button-sizes {
    &.#{$size} {
      min-width: nth($dimensions, 1);
      height: nth($dimensions, 2);
    }
  }

  // Filled Buttons
  &.fill {
    &.primary {
      background-color: var(--primary-50);
      color: var(--gray-0);

      &:hover {
        background-color: var(--primary-10);
      }
    }

    &.gray {
      background-color:var(--gray-80);
      color: var(--gray-0);

      &:hover {
        background-color:var(--gray-100);
      }
    
    }
    &.white {
      background-color:var(--gray-0);
      color: var(--primary-50);
      &:hover {
      }
    
    }
    &:disabled {
      background-color: var(--gray-30);
      color: var(--gray-50);
      cursor: not-allowed;
    }
  }

  // Outlined Buttons
  &.outlined {
    border: 1px solid;

    &.primary {
      border-color: var(--primary-50);
      color: var(--primary-50);
      background-color: var(--gray-0);

      &:hover {
        background-color: var(--primary-5);
      }
    
    }

    &.gray {
      border-color: var(--gray-70);
      background-color: var(--gray-0);

      &:hover {
        background-color:var(--gray-10);
      }
    }
    &:disabled {
      border-color: var(--gray-20);
      color: var(--gray-50);
      cursor: not-allowed;
    }
  }
}